<div style="float:right;width:50%">
	<form class="form-horizontal" ng-submit="submitSearch()">
		<div class="form-group">
			<label for="list-search" class="col-sm-2 control-label">Search: </label>
			<div class="col-sm-10">
				<input id="list-search" type="text" size="60" class="form-control" ng-model="searchText">
			</div>
		</div>
	</form>
	
	<div ng-show="searchText" style="font-size:18px;">
		<div ng-show="firstResult">
			<span style="font-weight:bold;">{{firstResult.result.name}}</span>
			<span ng-if="firstResult.result.description"> &#8212; {{firstResult.result.description}}</span>
			<div style="margin-left:20px;"><a ng-if="firstResult.result.link" ng-href="firstResult.result.link">{{firstResult.result.link}}</a></div>
		</div>
		<div ng-show="!firstResult || !firstResult.result.link">
			<span style="vertical-align:middle;">
				Search google for: <span style="font-weight:bold;">{{searchText}}</span>
			</span>
		</div>
	</div>
</div>
<knowledge-item item="group" ng-repeat="group in filteredKnowledge" class="knowledge-list"></knowledge-item>
<script>
	$("#list-search").focus();
</script>